<div>
  <div class="m-2">
    <h1 class="text-2xl text-center">MC基岩版全版本下载</h1>
    <div class="w-74 my-3 mx-auto"><img src="/assets/img/remcbbsBT.png" alt=""></div>
    <div class="alert alert-vertical w-72 my-4 mx-auto">
      <span>
        <icon class="text-xl text-info" icon="mingcute:information-fill"></icon><br>
        <b>仅供体验，请支持正版</b><br>
        正版购买：<a href="https://www.minecraft.net/zh-hans/store/minecraft-android" class="link-success text-decoration-none">官方页面<icon icon="mingcute:link-fill"></icon></a>
      </span>
    </div>
  </div>
  <div>
    <div class="m-2">
      <table class="table table-xs">
        <thead>
          <tr>
            <th class="text-center">版本</th>
            <th class="text-center">类型</th>
            <th class="text-center">大小</th>
            <th class="text-center">下载</th>
          </tr>
        </thead>
        <template v-if="data">
          <tbody>
            <tr v-for="apk in data">
              <td class="text-center">{{apk.version}}</td>
              <td class="text-center">
                <span class="text-error" v-if="apk.beta == 'True'">测试版</span>
                <span v-else class="text-success">正式版</span>
              </td>
              <td class="text-center">{{apk.size}}</td>
              <td class="text-center"><a class="btn btn-primary" @click="download(apk.version, apk.info_key)"><icon icon="mingcute:download-2-fill"></icon></a></td>
            </tr>
          </tbody>
        </template>
      </table>
    </div>
  </div>
  <div class="d-none">

  </div>
</div>