<div>
  <div>
    <div class="" style="height:8rem;background: url('/assets/img/background.jpg') 0 -3.5rem no-repeat;background-size: cover;"></div>
    <div class="flex">
      <div>
        <div class="avatar relative" style="height: 8rem;top: -.5rem;">
          <img class="rounded-full" src="/assets/img/logo.png" alt="">
        </div>
        <div class="text-center" style="width: 8rem;">
          <span class="text-4xl">MCWXT</span>
        </div>
      </div>
      <div class="p-2">
        <div class="my-5">
          <div class="flex justify-center mb-2">
            <div class="border-e text-center px-2">
              <span class="text-xl">3466</span>
              <span class="block text-xs">粉丝</span>
            </div>
            <div class="border-e text-center px-2">
              <span class="text-xl">221</span>
              <span class="block text-xs">关注</span>
            </div>
            <div class="text-center px-2">
              <span class="text-xl">2万</span>
              <span class="block text-xs">获赞</span>
            </div>
          </div>
          <div class="text-center">
            <a class="btn btn-secondary btn-sm w-48" href="https://m.bilibili.com/space/3493283118451294"><span class="text-light">关注</span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="p-2 text-sm">
        <span>努力成为一个大UP主ing。感谢您来我的博客站，本人也参与开发：DMX梦幻服，<a href="//remcbbs.top/">REmcbbs论坛</a>……也欢迎大家来我其他开发的站点</span>
      </div>
    </div>
  </div>
  <div>
    <ul class="border-y py-1">
      <li class="inline mx-3"><router-link class="link" to="/bilibili">视频</router-link></li>
      <li class="inline mx-3"><router-link class="link" to="/discussions">讨论</router-link></li>
    </ul>
  </div>
  <div>
    <div>
      <div class="m-2">
        <i class="bi bi-link-45deg text-4xl"></i>
        <h2 class="inline">友链</h2>
      </div>
      <div class="flex justify-md-start justify-center flex-wrap">
        <link-card class="m-2 shadow-sm" v-for="item in friendLink" :href="item.url" :title="item.title" :icon="item.icon" :content="item.brief"></link-card>
        <link-card class="m-2 shadow-sm" v-for="item in issuesFriendLink" :href="item.url" :title="item.title" :icon="item.icon" :content="item.brief"></link-card>
      </div>
    </div>
  </div>
</div>