@import url("/cdn_modules/daisyui@5.0.46/daisyui.css");
@import url("/cdn_modules/daisyui@5.0.46/themes.min.css");

* {
  font-family: sans-serif !important;
  --radius-field: 0.5rem;
}

img {
  max-width: 100%;
}

.truncate-wrap {
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--line);
  -webkit-box-orient: vertical;
}