<router-link class="rounded flex w-96 h-16 transition active:scale-95" :to="{ path: '/link', query: { url: href } }">
  <div class="m-2">
    <div class="rounded-full overflow-hidden size-12">
      <i class="text-4xl size-full bi" :class="icon" v-if="type == 'i'"></i>
      <img class="object-contain size-full" loading="lazy" :src="icon" v-else />
    </div>
  </div>
  <div class="my-auto w-64 truncate">
    <h3 class="">{{title}}</h3>
    <span class="text-xs">{{content}}</span>
  </div>
</router-link>