<div>
  <div>
    <iframe class="aspect-16/9 w-full" :src="'https://player.bilibili.com/player.html?bvid=' + bvid" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"></iframe>
  </div>
  <template v-if="video">
    <div class="p-2">
      <h2 class="text-lg">{{video.title}}</h2>
      <div class="flex text-sm text-gray-600 m-2">
        <span class="mr-4"><i class="mr-1 bi bi-play-circle"></i>{{video.play}}</span>
        <span class="mr-4"><i class="mr-1 bi bi-chat-square-text"></i>{{video.danmaku}}</span>
        <span class="mr-4">{{video.publish_time_text}}</span>
      </div>
      <div class="text-sm m-2">
        <span>{{video.bvid}}</span>
      </div>
    </div>
  </template>
</div>